<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="stylesheet" href="./css/styles.css">
<link rel="icon" href="./img/ent.png">



</head>


<body>
    <div class="main-content">
  {{>header}}
    {{!-- <h1>about static file{{title}}</h1> --}}
    <img class="portrait" src="/img/ent.png">
    </div>

  
    {{>footer}}
</body>


</html>