<!DOCTYPE html>

<html>

<head>
<title>help</title>
    <link rel="stylesheet" href="./css/styles.css">
<link rel="icon" href="./img/ent.png">


</head>


<body>
    {{>header}}

    {{!-- <h1>HELP static file</h1> --}}
    <p>Des questions? Remplir le formulaire de contact {{name}}</p>

    {{>footer}}
</body>


</html>